{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "indent": ["error", "tab"],
    "no-console": "off",
    "allowArrowFunctions": true,
    "no-unused-vars": "off"
  },
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  }
}