{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "indent": [
      "error",
      2
    ],
    "no-console": "off",
    "allowArrowFunctions": true,
    "no-unused-vars": "off"
  },
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  }
}
