{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": "airbnb-base",
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "indent": [
      "error",
      2
    ],
    "arrow-parens": [
      "error",
      "always"
    ],
    "max-len": ["warn", 160],
    "strict": "off",
    "no-console": "off",
    "allowArrowFunctions": true,
    "no-unused-vars": "off",
    "import/prefer-default-export": false
  },
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  }
}
